<div>

	<div ng-controller="userInfoCtrl">
		<div id = 'users'  class = 'section'>
			<h2> Find my info </h2>
			<div id = 'loading' ng-hide = "userloaded != null">
				<div class = "spinner"></div>
			</div>

			<input id = 'name-filter' type = "text" ng-model = "searchName" placeholder="Enter your name">
			<table id = "select-user">
				<tr> <th> {{ heads[0] }} </th> </tr>
				<tr ng-repeat="username in usernames | filter:filterByQuery(searchName)">
					<td ng-click="display(username)"><div class = 'username'> {{ username }} </div></td>
				</tr>
			</table>
		</div>

		<div id = 'selected-user' class = 'section' ng-hide = "selecteduser == null">
			<table id = "selected-user-table">
				<tr ng-repeat="(key, value) in selecteduser">
					<td>
						<div class = 'selected-info'>{{ key }}</div>
					</td>
					<td>
						<div class = 'selected-info'>{{ value }}</div>
					</td>
				</tr>
			</table>
		</div>	
	</div>	

</div>
